<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">HOME</a>
    {{{body}}} <!--this is like the vue.js router view-->
  </body>
</html>
